<h1>Current buy orders</h1>

<ng-container *ngIf="(orders$ | async) as orders">

  <ul class="list-group" *ngIf="orders.length > 0">
    <li class="list-group-item" *ngFor="let order of orders">
      <a routerLink="/order/{{order._id}}">{{order.name}}</a>
      <div class="float-right">
        <app-edit-order-btn [order]="order"></app-edit-order-btn>
        <button class="btn btn-sm btn-danger order-action" (click)="dispatchRemoveOrder(order._id)"><i class="icon-trash"></i></button>
      </div>
    </li>
  </ul>

  <h5 *ngIf="orders.length === 0" class="no-orders">
    No Orders found. Create a new One
  </h5>
</ng-container>

<div class="button-wrap">
  <app-edit-order-btn [order]="{}"></app-edit-order-btn>
</div>
