:host {
  display: inline;

  .order-action {
    margin-left: 0.2rem;
  }

  .button-wrap {
    margin-top: 1rem;
    text-align: right;
  }

  .list-group {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .no-orders {
    text-align: center;
    padding: 1.3rem;
    color: #a9a9a9;
  }

}
