<ng-container *ngIf="(order$ | async) as order">

  <h1>order: {{order.name}} (id: {{order._id}})
    <app-edit-order-btn [order]="order" class="float-right"></app-edit-order-btn>
  </h1>


  <table class="table table-striped">
    <tbody>
    <tr>
      <td>ID</td>
      <td>{{order._id}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{order.name}}</td>
    </tr>
    <tr>
      <td>Max Bid Price</td>
      <td>{{order.max_bid}}</td>
    </tr>
    <tr>
      <td>Data Package Type</td>
      <td>{{resolvePackageType(order.data_pkg_type)}}</td>
    </tr>
    <tr>
      <td>Created</td>
      <td>{{order.created | date : 'short' }}</td>
    </tr>
    <tr>
      <td>Updated</td>
      <td>{{order.updated | date : 'short' }}</td>
    </tr>
    </tbody>
  </table>

</ng-container>
