<nav aria-label="breadcrumb">

  <ol class="breadcrumb">
    <li class="breadcrumb-item active" *ngFor="let pos of urlArray">
      <a [routerLink]="pos.link" *ngIf="pos.link.length > 0; else nolink">{{pos.text}}</a>
      <ng-template #nolink>{{pos.text}}</ng-template>
    </li>
  </ol>
</nav>

