<button class="btn btn-sm btn-info order-action" (click)="openEditModal(order);">
  <i class="icon-pencil" *ngIf="order._id; else create"></i>
  <ng-template #create><i class="icon-plus"></i> Create Order</ng-template>
</button>
