/* You can add global styles to this file, and also import other style files */
@import '~simple-line-icons/css/simple-line-icons.css';

h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.container {
  margin-top: 2rem;
}
