<div class="modal-header">
  <h4 class="modal-title pull-left">
    <span *ngIf="order?._id; else createStr"> Edit Order</span>
    <ng-template #createStr>Create Order</ng-template>
  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #form="ngForm" novalidate (ngSubmit)="form.valid && confirmOrder(form.value)">
  <div class="modal-body">


    <table class="table table-condensed">
      <tbody>
      <tr>
        <td><label for="name">Name</label></td>
        <td><input autocomplete="off" class="form-control" placeholder="Name" required type="text" [ngModel]="order?.name" name="name" id="name"></td>
      </tr>
      <tr>
        <td><label for="max_bid">Max Bid Price</label></td>
        <td><input autocomplete="off" class="form-control" placeholder="Max Bid Price" (keypress)="numberOnly($event)" required type="text" [ngModel]="order?.max_bid" name="max_bid" id="max_bid"></td>
      </tr>
      <tr>
        <td><label for="data_pkg_type">Data Package Type</label></td>
        <td>
          <select required class="custom-select" name="data_pkg_type" id="data_pkg_type" [ngModel]="order?.data_pkg_type">
            <option disabled>Choose...</option>
            <option *ngFor="let data of data_pkg_types;" [value]="data.id">{{data.name}}</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid || form.pristine">Save changes</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
  </div>
</form>
